<header class="site-header" >
    <div class="inner pure-g">
        <nav class="menu pure-u-3-5 pure-u-ss-1">
            <div class="pure-u-ss-1">
                <a href="/" class="title" >Qwer999.net</a>
                <a href="#" class="custom-menu-toggle" id="toggle"><s class="bar"></s><s class="bar"></s><s class="bar"></s></a>
            </div>
            <div class="menuList pure-u-ss-1" id="menuList">
                <a href="/" class="selected">BLOG</a>
                <a href="#">ABOUT</a>
                <a href="#">PORTFOLIO</a>
            </div>
        </nav>
        <div class="search pure-u-2-5">
            <form class="pure-form">
                <input type="text" class="pure-input-rounded" placeholder="Search"><button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</header>