---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>

{{page.next.mainBackground}}
{{page.previous.mainBackground}}

{% if page.next != nil %}
	<a href="{{page.next.url}}" class="next-link">Older Post</a>
{% endif %}
{% if page.previous != nil %}
	<a href="{{page.previous.url}}" class="previous-link">Newer Post</a>
{% endif %}